body{
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    background-color: white;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
}

/*Navigation*/

#main-nav ul {
    padding-left:0; /*removes left padding*/

}

#main-nav li {
    list-style-type: none; /*no bullets*/
    display: inline-block; /*appear on one line*/
}
#main-nav a {
    text-decoration: none;
    background: #FF8DA1;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover{
    background:black;
    color: #ff8da1;
}

h1{
    color:red;
}

p{
    color: blue;
}