/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('images/background.jpg'); /*Background image*/
    background-size: cover;
    color: #f4efde; 
}

h1,h2,h3 {
    text-align: center;
}

#covers{ /*first image*/
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* rounded corners */
    box-shadow: 5px 5px 15px #000000; /* subtle shadow */
}

#world{ /*last image */
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px; /* rounded corners */
    box-shadow: 5px 5px 15px #000000; /* subtle shadow */
}

#content {
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

/* Links to assignments */
a:link {
    color: #a78a6d; 
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #695442; 
    font-weight: bold;
}

a:hover {
    color: #f4efde; 
    font-weight: bold;
}

/* Tables */

table{
    border-collapse: collapse;
}

td, th{
    border:1px solid #000000;
    padding: 5px 10px; /*top and bottom 5, right and left 10*/ 
}