/*Body*/
#body{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    text-align: center;
    background: #F2EED8;
}

h1{
    text-align: center;
    padding: 5px;
}


/*Main Nav*/
#main-nav ul{
    list-style-type: none; /* remove the bullets */
    width: 100%;
    background: #F2EED8;
}

#main-nav li{
    display: inline-block;
    background: #D98484;
    padding: 10px;
}

#main-nav a {
    text-decoration: none;
    color: #F2EED8;
    font-weight: bold;
    font-size: 20px;
    display: block;
}

nav section{
    margin: 1px;
    background: #D98484;
    border:2px solid #F2EED8;
}

/*Ideas Section*/

#main-idea{ /*Background and border is all that is changed*/
    background: #F2EED8; /* secondary background */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border: 2px solid #F2EED8; /* accent border */
}

#main-idea2{ /*Background and border is all that is changed*/
    background: #F2EED8; /* secondary background */
    padding: 1%; /* text away from edge */
    border: 2px solid #F2EED8; /* accent border */
}


#idea1, #idea2, #idea3{
    background: #F2EED8;
    color:#f4efde;
    padding: 10px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
}

#idea3{
    clear: both;                 /* forces new row */
    margin-left: 10px;  /* shifts Idea 3 left so it lines up under Idea 1 */
 
}

#idea1 img, #idea2 img, #idea3 img{
    max-width: 100%;
    height: auto;
    float: left;
    padding-right: 5px;

}

#main-layout{
    clear:both;
}

/*Aside*/
#links{
  background: #D98484;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #F2EED8;
  box-sizing: border-box; /* keeps width aligned even with the border */
}

/*Examples*/
#examples{
    background: #F2EED8;
    display: grid; /* switch to grid */
    grid-template-columns: repeat(2, 2fr); /* 3 columns */
    padding: 10px;
    margin-right: 0;
    flex-direction: column;
    color:#F2EED8;
}

#ex1, #ex2, #ex3, #ex4 {
    background: #5E888C;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex-direction: column;
}
    

#ex1, #ex2{        
    padding-top: 10px;
}

#ex3, #ex4 {
    padding-bottom: 10px;
}

/*Gallery*/
#gallery{
    background: #F2EED8;
    display: grid; /* switch to grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    padding: 10px;
    flex-direction: column;
    color:#F2EED8;
}

#gal1, #gal2, #gal3, #gal4, #gal5, #gal6 {
    background: #A4BFB8;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex-direction: column;
}

#main-footer{
    background: #D98484;
    padding: 10px;
    text-align: center;
    color: #F2EED8;
    width: 100%;
}

/*Media Query*/

@media only screen and (min-width: 768px) {

    #body{
        display: flex;
        flex-direction: column;
    }


    #content {
        width:100%;
        display: flex;
        flex-direction: column;
    }

   #main-idea{ /*Background and border is all that is changed*/
        background: #F2EED8; /* secondary background */
        margin: auto; /* centers the div */
        padding: 1%; /* text away from edge */
        border: 2px solid #F2EED8; /* accent border */
    }

    #main-idea2{ /*Background and border is all that is changed*/
        background: #F2EED8; /* secondary background */
        padding: 1%; /* text away from edge */
        border: 2px solid #F2EED8; /* accent border */
    }

    #idea1, #idea2, #idea3{
        background: #F2EED8;
        color:#5E888C;
        padding: 10px;
        margin: 10px;
        float: left;
        box-sizing: border-box;
    }

    #idea3{
        clear:both;
        width: calc(50% - 20px);
        margin-left: 10px;  /* shifts Idea 3 left so it lines up under Idea 1 */

    }

    #main-layout{
        clear:both;
    }

    /*Aside*/
    #links{
        background: #D98484;
        display: flex;
        float: left;
        padding: 10px;
        text-align: center;
        border: 2px solid #F2EED8;
        box-sizing: border-box;
    }

    /*Examples*/
    #examples{
        background: #F2EED8;
        display: grid; /* switch to grid */
        grid-template-columns: repeat(2, 2fr); /* 3 columns */
        padding: 10px;
        margin-right: 0;
        flex-direction: column;
        color:#F2EED8;
    }

    #ex1, #ex2, #ex3, #ex4 {
        background: #5E888C;
        padding: 10px;
        margin: 5px;
        text-align: center;
        flex-direction: column;
    }

    #ex1, #ex2{
        padding-top: 10px;
    }

    #ex3, #ex4 {
        padding-bottom: 10px;
    }

    /*Gallery*/
    #gallery{
        background: #F2EED8;
        display: grid; /* switch to grid */
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        padding: 10px;
        flex-direction: column;
        color:#F2EED8;
    }

    #gal1, #gal2, #gal3, #gal4, #gal5, #gal6 {
        background: #A4BFB8;
        padding: 10px;
        margin: 5px;
        text-align: center;
        flex-direction: column;
    }

    /*Columns*/
    .columns{
        display: flex;
    }

    /*Flexes (changes ratio such as about page is a three has 75 percent and a one has 25 percent*/
    
    .one{
        margin-right: 0;
        flex: .5;
    }

    .two{
        flex: 2;
    }

    .three{
        flex: 3;
    }

    /* Clear floats after image containers */
    .row::after {
        text-align: center;
        padding: 10px;
        content: "";
        clear: both;
        display: table;
    } 

    #main-nav li, #main-nav li:first-child {
        border: none; 
    }

}

/* Small Screens */
@media only screen and (max-width: 768px) {
    #examples, #gallery {
        display: grid;
        grid-template-columns: 1fr; /* single column */
    }
}
