/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1b1a17; /* darkest background */
    color: #f4efde; /* light text for readability */
}

#content {
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

/* Links to assignments */
a:link {
    color: #a78a6d; 
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #695442; 
    font-weight: bold;
}

a:hover {
    color: #f4efde; 
    font-weight: bold;
}

/* Unordered Lists */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
