/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1b1a17; /* darkest background */
    color: #f4efde; /* light text for readability */
}

#main-header {
    text-align: center;
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

#content, #project {
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

/* Links to assignments */
a:link {
    color: #38322b; 
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #4d3b2f; 
    font-weight: bold;
}

a:hover {
    color: #f4efde; 
    font-weight: bold;
}

h2 {
    color: #f4efde;
    text-align: center;
}

/* Unordered Lists */
#assignments, #assignments2{
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

#project ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}


#li {
    margin: 5px 0;
    text-align: center;
}

.images {
    max-width: 100%;  /* scales down with container */
    width: 400px;
    height: 200px;
    border: 2px solid #695442;
    height: auto;     /* keeps aspect ratio */
    border: 2px solid #695442;
    border-radius: 5px; /* optional: rounded corners */
}

#assign,#assign2, #proj {
    background: #695442;
    color:#f4efde;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


/*Larger Devices*/
@media only screen and (min-width: 790px) {

    #main-header, #content, #project { 
        width: 95%; /*Allows both to flex when enlarged*/
        padding: 5px; 
        margin: auto;
        text-align: center;
    }

    #assign, #assign2, #proj {
        background: #695442;
        color:#f4efde;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        float: left;
    }


    /*Three image containers*/
    .column{
        text-align: center;
        flex: 50%;
        width:30%;
        padding: 10px; 
        margin: auto; 
    }

    /* Clear floats after image containers */
    .row::after {
        text-align: center;
        padding: 10px;
        content: "";
        clear: both;
        display: table;
    } 

    .images {
        max-width: 100%;  /* scales down with container */
        height: auto;     /* keeps aspect ratio */
        border: 2px solid #695442;
        border-radius: 5px; /* optional: rounded corners */
    }


}