/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1b1a17; /* darkest background */
    color: #f4efde; /* light text for readability */
}

#main-header {
    text-align: center;
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

#content {
    background: #38322b; /* secondary background */
    width: 70%; /* moves it away from edges of page */
    margin: auto; /* centers the div */
    padding: 1%; /* text away from edge */
    border-radius: 5px; /* round corners */
    border: 2px solid #695442; /* accent border */
}

/* Links to assignments */
a:link {
    color: #a78a6d; 
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #695442; 
    font-weight: bold;
}

a:hover {
    color: #f4efde; 
    font-weight: bold;
}

/* Unordered Lists */
#assignments{
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}


li {
    margin: 5px 0;
    text-align: center;
}


/*Larger Devices*/
@media only screen and (min-width: 800px) {


    #main-header, #content { 
        width: 95%; /*Allows both to flex when enlarged*/
        padding: 5px; 
        margin: auto;
        text-align: center;
    }

    .column{
        text-align: center;
        float: center;
        flex: 50%;
        width:25%;
        padding: 10px; 
        margin: auto; 
    }

    /*Three image containers*/
    .column{
        text-align: center;
        float: left;
        flex: 50%;
        width:31%;
        padding: 10px; 
        margin: auto; 
    }

    /* Clear floats after image containers */
    .row::after {
        text-align: center;
        display:flex;
        padding: 10px;
        content: "";
        clear: both;
        display: table;
    } 


}