/*Structure*/
h1{
    text-align: center;
    color:#F23558;
}

body{
    background:#1B2A59;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    background-color:#9FA6A5;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    text-align: center;
}
/* Structure End*/

/*Navigation*/
#main-nav ul {
    padding-left:0; /*removes left padding*/
}

#main-nav li {
    list-style-type: none; /*no bullets*/
    display: inline-block; /*appear on one line*/
}

#main-nav a{
    list-style: none;
    margin: 5px;
    background: gray;
    border-radius: 2px;
}


#main-nav a:hover{
    background:black;
    color: #9FA6A5;
}
/*Navigation End*/

p{
    background:#1B2A59;
    margin: 5px;
    border-radius: 5px;
    color: #D9486E;
}
td{
    background:#1B2A59;
    margin: 5px;
    border-radius: 5px;
    color:#D9486E;
}
th{
    background:gray;
    margin: 5px;
    border-radius: 5px;
    color:#590212;
}
h2{
    background: gray;
    margin: 5px;
    border-radius: 5px;
    color:#590212; 
}
#table{
    text-align: center;
}
