body {
    font-family: Arial, Helvetica, sans-serif;
    background: #C364EF;
}

/* Structure */

#content {
    background: #7A77ED;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

/* Styling for display box */
#ans-box {
    border: 2px solid black; 
    height: 100px; 
    margin: 10px 0; 
    background-color: #A177ED; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

#row {
    display: flex; 
    justify-content: space-around; 
    padding: 5px;
    background: #ED77A4;
    border-radius: 5px;
    margin-bottom: 15px;
}

#picture {
    padding: 5px;
    background: #C877ED;
    border-radius: 5px;
}


/* Credit styling*/
#credit{
    padding: 5px;
    background: #C877ED;
    border-radius: 5px;
}


.array-pictures img {
    display: block;
    margin: auto;
    max-width: 100%; 
}

.array-pictures h3 {
    text-align: center;
}

.array-pictures {
    display: block; 
}

/* Typography */

h1 {
    color: #ED77EB;
}

/* Larger Resolutions */

@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    #row {
        display: flex;
    }
}
